.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .div-table {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .table {
            width: 50vw;

            .btn-edit-delete {
                background-color: #e7e7e7;
                border: 0.5px solid black;
                border-radius: 5px;
            }
        }
    }

}