.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .div-table {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .table {
            width: 50vw;
        }
    }

}